<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
    <div class="row">
        <h1 class="page-header">PERMISSIONS list</h1>
        <div class="col-lg-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Value</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Is Active</th>
                        <th>Created on</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pms in permissions" style="cursor: pointer">
                        <td>
                            <div ng-hide="pms.editing">{{pms.value}}</div>
                            <div>
                                <form ng-submit="doneEditing(pms)">
                                    <strong>
                                        <em>
                                            <input type="text" class="form-control" ng-show="pms.editing" ng-model="pms.value" ng-blur="doneEditing(pms)" autofocus />
                                        </em>
                                    </strong>
                                </form>
                            </div>
                        </td>
                        <td>
                            <div ng-hide="pms.editing">{{pms.name}}</div>
                            <div>
                                <form ng-submit="doneEditing(pms)">
                                    <strong>
                                        <em>
                                            <input type="text" class="form-control" ng-show="pms.editing" ng-model="pms.name" ng-blur="doneEditing(pms)" autofocus />
                                        </em>
                                    </strong>
                                </form>
                            </div>
                        </td>
                        <td>
                            <div ng-hide="pms.editing">{{pms.description}}</div>
                            <div>
                                <form ng-submit="doneEditing(pms)">
                                    <strong>
                                        <em>
                                            <input type="text" class="form-control" ng-show="pms.editing" ng-model="pms.description" ng-blur="doneEditing(pms)" autofocus />
                                        </em>
                                    </strong>
                                </form>
                            </div>
                        </td>
                        <td>
                            <div ng-hide="pms.editing">{{pms.isActive}}</div>
                            <div>
                                <form ng-submit="doneEditing(pms)">
                                    <strong>
                                        <em>
                                            <input type="checkbox" class="form-control" ng-show="pms.editing" ng-model="pms.isActive" ng-blur="doneEditing(pms)" autofocus />
                                        </em>
                                    </strong>
                                </form>
                            </div>
                        </td>
                        <td>
                            <div ng-hide="pms.editing">{{pms.createdOn}}</div>
                            <div>
                                <form ng-submit="doneEditing(pms)">
                                    <strong>
                                        <em>
                                            <input type="date" class="form-control" ng-show="pms.editing" ng-model="pms.createdOn" ng-blur="doneEditing(pms)" autofocus />
                                        </em>
                                    </strong>
                                </form>
                            </div>
                        </td>
                        <td>
                            <button ng-hide="pms.editing" type="button" class="btn btn-primary" ng-click="editPms(pms)">Edit</button>
                            <button ng-show="pms.editing" type="button" class="btn btn-success" ng-blur="doneEditing(pms)">Save</button>
                            <button ng-hide="pms.editing" type="button" class="btn btn-danger" ng-click="deletePms(pms)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Value</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Permission value..." ng-model="pmsValue">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Permission name..." ng-model="pmsName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Description</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Permission description..." ng-model="pmsDesc">
                    </div>
                </div>
                <div class="form-group">
                    <label for="chkActive" class="col-sm-3 control-label">Is Active</label>
                    <div class="col-sm-8">
                        <input id="chkActive" type="checkbox" class="form-control" ng-model="pmsActive">
                    </div>
                </div>
                <span class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" ng-click="addPMS()">Add New</button>
                </span>
            </form>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p>MVP | MEAN</div>
</footer>