<div class="row">
    <div class="col-md-12">
        <!--<h2>Server-side remote access</h2>-->
        <!-- 1. Search bar -->
        <div class="form-search">
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button id="permissionSearchButton" class="btn btn-default" data-ng-click="vm.searchServer()"><i class="fa fa-search-plus"></i></button>
                    </div>
                    <input class="form-control input-sm"
                           data-ng-model="vm.permissionServerSearch"
                           placeholder="filter name or abbreviation">
                </div>
            </div>
            <div class="btn-group pull-right">
                <a class="infoButton"
                   data-ng-click="vm.refreshServer()">
                    <i class="fa fa-refresh"></i><span> Refresh</span>
                </a>
                <a id="permissionServerAddButton" class="infoButton" href="#/permission/new">
                    <i class="fa fa-plus"></i> Add Permission
                </a>
            </div>
        </div>

        <br /> <br /> <br />

        <!-- 2. Content/main area -->
        <div class="widget wlightblue col-md-12">

            <!-- 2.1 Data list in Portlet box -->
            <div class="portlet box blue-madison">

                <!-- Portlet Title -->
                <div class="portlet-title">
                    <div class="caption">
                        <div>{{vm.title}} ({{vm.permissionFilteredCountServer}} / {{vm.permissionCountServer}})</div>
                    </div>
                    <div class="tools">
                        <a href="" class="collapse"></a>
                        <!--<div>Page {{vm.paging.currentPageServer}} of {{vm.paging.pageCountServer}}</div>-->
                    </div>
                </div>

                <!-- Portlet Body -->
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th data-ng-repeat="thead in vm.theads">
                                        <a data-ng-click="vm.setSortServer(thead)" href="">{{thead}}</a>
                                        <span>
                                            <!-- Change DisplayNames to FieldNames: lowercase first letter then remove spaces -->
                                            <span data-ng-if="vm.sortingServer.orderBy ==
                                                      (thead.charAt(0).toLowerCase() + thead.slice(1)).replace(' ','')">
                                                <i class="fa fa-caret-down" style="color: #00C0F7;"
                                                   data-ng-show="vm.sortingServer.orderDesc == ''"></i>
                                                <i class="fa fa-caret-up" style="color: #00C0F7;"
                                                   data-ng-show="vm.sortingServer.orderDesc == 'desc'"></i>
                                            </span>
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="p in vm.permissionsServerFilter"
                                    data-ng-click="vm.goToPermission(p)"
                                    title="View details" style="cursor: pointer;">
                                    <!-- // ADD TABLE DATA HERE with approriate data type and control -->
                                    <td>{{p.value}}</td>
                                    <td>{{p.name}}</td>
                                    <td>{{p.description}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- 2.2. Panel pagination -->
            <div class="widget-foot">
                <div class="clearfix"></div>
                <pagination class="pagination-sm"
                            total-items="vm.permissionFilteredCountServer"
                            items-per-page="vm.paging.pageSize"
                            max-size="vm.paging.maxPagesToShow"
                            data-ng-model="vm.paging.currentPageServer"
                            data-ng-change="vm.pageChangedServer()"
                            boundary-links="true"
                            previous-text="Prev"
                            next-text="Next"
                            first-text="First"
                            last-text="Last"></pagination>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>


    <div class="col-md-12" style="display: none;">
        <h2>Client-side cached data</h2>
        <!-- 1. Search bar -->
        <div class="form-search">

            <!-- 1.1. Search box -->
            <input id="permissionSearchTextBox" class="input-sm search-query"
                   data-ng-model="vm.permissionSearch"
                   data-ng-keyup="vm.search($event)"
                   placeholder="live search...">

            <div class="btn-group pull-right">

                <!-- 1.2. Refresh button -->
                <a class="infoButton"
                   data-ng-click="vm.refresh()">
                    <i class="fa fa-refresh"></i><span> Refresh</span>
                </a>

                <!-- 1.3. Add button -->
                <a id="permissionClientAddButton" class="infoButton" href="#/permission/new">
                    <i class="fa fa-plus"></i> Add Permission
                </a>
            </div>
        </div>

        <br /> <br /> <br />

        <!-- 2. Content/main area -->
        <div class="col-md-12">

            <!-- 2.1 Data list in Portlet box -->
            <div class="portlet box blue-madison">

                <!-- Portlet Title -->
                <div class="portlet-title">
                    <div class="caption">
                        <div>{{vm.title}} ({{vm.permissionFilteredCount}} / {{vm.permissionCount}})</div>
                    </div>
                    <div class="tools">
                        <a href="" class="collapse"></a>
                        <!--<div>Page {{vm.paging.currentPage}} of {{vm.paging.pageCount}}</div>-->
                    </div>
                </div>

                <!-- Portlet Body -->
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th data-ng-repeat="thead in vm.theads">
                                        <a data-ng-click="vm.setSort(thead)" href="">{{thead}}</a>
                                        <span>
                                            <!-- Change DisplayNames to FieldNames: lowercase first letter then remove spaces -->
                                            <span data-ng-if="vm.sorting.orderBy ==
															(thead.charAt(0).toLowerCase() + thead.slice(1)).replace(' ','')">
                                                <i class="fa fa-caret-down" style="color: #00C0F7;"
                                                   data-ng-show="vm.sorting.orderDesc == ''"></i>
                                                <i class="fa fa-caret-up" style="color: #00C0F7;"
                                                   data-ng-show="vm.sorting.orderDesc == 'desc'"></i>
                                            </span>
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="p in vm.permissions"
                                    data-ng-click="vm.goToPermission(p)"
                                    title="View details" style="cursor: pointer;">
                                    <!-- // ADD TABLE DATA HERE with approriate data type and control -->
                                    <td>{{p.value}}</td>
                                    <td>{{p.name}}</td>
                                    <td>{{p.description}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <!-- 2.2. Panel pagination -->
            <div class="widget-foot">
                <div class="clearfix"></div>
                <!-- Pagination -->
                <pagination class="pagination-sm"
                            total-items="vm.permissionFilteredCount"
                            items-per-page="vm.paging.pageSize"
                            data-ng-model="vm.paging.currentPage"
                            data-ng-change="vm.pageChanged()"
                            max-size="vm.paging.maxPagesToShow"
                            boundary-links="true"
                            previous-text="Prev"
                            next-text="Next"
                            first-text="First"
                            last-text="Last"></pagination>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</div>
