<a href="http://tagliala.github.io/vectoriconsroundup/" target="_blank">
    A side-by-side comparison between popular icon fonts made for Bootstrap.
</a>

<!-- Bootstrap -->
<div id="bs" class="portlet box blue-hoki">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>{{vm.title.bs}} <span class="small">({{vm.subtitle.bs}})</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
            <a href="#" data-toggle="modal" class="config">
            </a>
            <a href="javascript:;" class="reload">
            </a>
            <a href="javascript:;" class="remove">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">

            <!-- CSS components -->
            <div class="col-md-12">
                <div class="portlet box blue-madison">
                    <div class="portlet-title">
                        <div class="caption">
                            CSS Components
                        </div>
                        <div class="tools">
                            <a href="" class="collapse"></a>
                            <a href="" class="remove"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">

                            <!-- Text elements -->
                            <div class="col-md-6">
                                <h1 style="color: dodgerblue">Text Elements</h1>
                                <h2>Headings & subtitle</h2><hr />
                                <h1>h1. Bootstrap heading <small>Secondary text</small></h1>
                                <h2>h2. Bootstrap heading <small>Secondary text</small></h2>
                                <h3>h3. Bootstrap heading <small>Secondary text</small></h3>
                                <h4>h4. Bootstrap heading <small>Secondary text</small></h4>
                                <h5>h5. Bootstrap heading <small>Secondary text</small></h5>
                                <h6>h6. Bootstrap heading <small>Secondary text</small></h6>
                                <h2>Inline text elements</h2><hr />
                                You can use the mark tag to <mark>highlight</mark> text.<br />
                                <del>This line of text is meant to be treated as deleted text.</del><br />
                                <u>This line of text will render as underlined</u><br />
                                <strong>rendered as bold text</strong><br />
                                <em>rendered as italicized text</em>
                                <h2>Alignment</h2><hr />
                                <p class="text-left">Left aligned text.</p>
                                <p class="text-center">Center aligned text.</p>
                                <p class="text-right">Right aligned text.</p>
                                <p class="text-justify">Justified text.</p>
                                <h2>Text transformation</h2><hr />
                                <p class="text-lowercase">Lowercased text.</p>
                                <p class="text-uppercase">Uppercased text.</p>
                                <p class="text-capitalize">Capitalized text.</p>
                                <h2>Addresses</h2><hr />
                                <address>
                                    <strong>Twitter, Inc.</strong><br>
                                    795 Folsom Ave, Suite 600<br>
                                    San Francisco, CA 94107<br>
                                    <abbr title="Phone">P:</abbr> (123) 456-7890
                                </address>
                                <h2>Block quote</h2><hr />
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                </blockquote>
                                <h2>List</h2><hr />
                                <ul>
                                    <li>Facilisis in pretium nisl aliquet</li>
                                    <li>
                                        Nulla volutpat aliquam velit
                                        <ul>
                                            <li>Vestibulum laoreet porttitor sem</li>
                                            <li>Ac tristique libero volutpat at</li>
                                        </ul>
                                    </li>
                                </ul>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>Consectetur adipiscing elit</li>
                                    <li>Facilisis in pretium nisl aliquet</li>
                                </ol>
                                <div class="jumbotron">
                                    <h2>Jumbotron</h2>
                                    <p>Lorem ipsum dolor sit amet, vix soleat apeirian te. Ad vix eius integre sanctus, sit aeque paulo perfecto eu. Vel assum novum mnesarchum no. Ad eum voluptua recteque splendide, id sed interesset liberavisse conclusionemque. Quodsi diceret at per, vix mollis sadipscing an.</p>
                                </div>
                                <div class="well">
                                    <h2>Wells</h2>
                                    <p>Lorem ipsum dolor sit amet, vix soleat apeirian te. Ad vix eius integre sanctus, sit aeque paulo perfecto eu. Vel assum novum mnesarchum no. Ad eum voluptua recteque splendide, id sed interesset liberavisse conclusionemque. Quodsi diceret at per, vix mollis sadipscing an.</p>
                                </div>
                            </div>

                            <!-- Tables and forms -->
                            <div class="col-md-6">
                                <h1 style="color: dodgerblue">Tables and Forms</h1>
                                <h2>Form</h2>
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <input type="checkbox"> Remember me
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="defaultButton">Sign in</button>
                                        </div>
                                    </div>
                                </form>
                                <h2>Textarea</h2>
                                <textarea class="form-control" rows="3"></textarea>
                                <h2>Checkboxes and radios</h2>
                                <input type="checkbox" value=""> Option one is this and that&mdash;be sure to include why it's great<br />
                                <input type="checkbox" value="" disabled> Option two is disabled<br />
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                Option one is this and that&mdash;be sure to include why it's great<br />
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                Option two can be something else and selecting it will deselect option one<br />
                                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                                Option three is disabled
                                <h2>Selects</h2>
                                <select class="form-control">
                                    <option data-ng-repeat="i in vm.repeat(5) track by $index">{{$index+1}}</option>
                                </select>
                                <h2>Inputs</h2>
                                <input class="form-control input-lg" type="text" placeholder=".input-lg">
                                <input class="form-control" type="text" placeholder="Default input">
                                <input class="form-control input-sm" type="text" placeholder=".input-sm">
                                <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled>
                                <h2>Buttons</h2>
                                <button type="button" class="defaultButton">Default</button>
                                <button type="button" class="primaryButton">Primary</button>
                                <button type="button" class="successButton">Success</button>
                                <button type="button" class="infoButton">Info</button>
                                <button type="button" class="warningButton">Warning</button>
                                <button type="button" class="dangerButton">Danger</button>
                                <br />
                                <div style="padding-top: 5px">
                                    <button type="button" class="primaryButton btn-lg">Large button</button>
                                    <button type="button" class="primaryButton">Default button</button>
                                    <button type="button" class="primaryButton btn-sm">Small button</button>
                                    <button type="button" class="primaryButton btn-xs">Extra small button</button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="defaultButton dropdown-toggle" data-toggle="dropdown">
                                        Action <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a>Action</a></li>
                                        <li><a>Another action</a></li>
                                        <li><a>Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a>Separated link</a></li>
                                    </ul>
                                    <button type="button" class="dangerButton">Action</button>
                                    <button type="button" class="dangerButton dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a>Action</a></li>
                                        <li><a>Another action</a></li>
                                        <li><a>Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a>Separated link</a></li>
                                    </ul>
                                </div>
                                <h2>Labels</h2>
                                <span class="label label-default">Default</span>
                                <span class="label label-primary">Primary</span>
                                <span class="label label-success">Success</span>
                                <span class="label label-info">Info</span>
                                <span class="label label-warning">Warning</span>
                                <span class="label label-danger">Danger</span>
                                <br />
                                <h2>Breadcrumb</h2>
                                <ol class="breadcrumb">
                                    <li><a>Home</a></li>
                                    <li><a>Library</a></li>
                                    <li class="active">Data</li>
                                </ol>
                                <h2>Pagination</h2>
                                <ul class="pagination">
                                    <li><a>&laquo;</a></li>
                                    <li><a>1</a></li>
                                    <li><a>2</a></li>
                                    <li><a>3</a></li>
                                    <li><a>4</a></li>
                                    <li><a>5</a></li>
                                    <li><a>&raquo;</a></li>
                                </ul>
                                <ul class="pager">
                                    <li><a>Previous</a></li>
                                    <li><a>Next</a></li>
                                </ul>
                                <h2>Table</h2>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="2">1</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@TwBootstrap</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td colspan="2">Larry the Bird</td>
                                            <td>@twitter</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">

                            <!-- Bars and grid layout -->
                            <div class=" col-md-12">
                                <h1 style="color: dodgerblue">Bars and Grid Layout</h1>
                                <h2>Grid system</h2>
                                Bootstrap includes a responsive, mobile first fluid grid system that appropriately scales up to 12 columns as the device or viewport size increases
                                <br />
                                <div class="col-md-1" class="row" style="background: grey; color: white; text-align: center; padding: 10px; border: 3px solid"
                                     data-ng-repeat="i in vm.repeat(12) track by $index">col-md-1</div>
                                <div class="col-md-2" class="row" style="background: grey; color: white; text-align: center; padding: 10px; border: 3px solid"
                                     data-ng-repeat="i in vm.repeat(6) track by $index">col-md-2</div>
                                <div class="col-md-3" class="row" style="background: grey; color: white; text-align: center; padding: 10px; border: 3px solid"
                                     data-ng-repeat="i in vm.repeat(4) track by $index">col-md-3</div>
                                <div class="col-md-4" class="row" style="background: grey; color: white; text-align: center; padding: 10px; border: 3px solid"
                                     data-ng-repeat="i in vm.repeat(3) track by $index">col-md-4</div>
                                <div class="col-md-6" class="row" style="background: grey; color: white; text-align: center; padding: 10px; border: 3px solid"
                                     data-ng-repeat="i in vm.repeat(2) track by $index">col-md-6</div>
                                <h2>Progress Bars</h2>
                                Progress bars use some of the same button and alert classes for consistent styles.
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only">40% Complete (success)</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                        <span class="sr-only">20% Complete</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                                Add <code>.active</code> to <code>.progress-bar-striped</code> to animate the stripes right to left (not available in IE9 and below).
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                        <span class="sr-only">45% Complete</span>
                                    </div>
                                </div>
                                Place multiple bars into the same <code>.progress</code> to stack them.
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 35%">
                                        <span class="sr-only">35% Complete (success)</span>
                                    </div>
                                    <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
                                        <span class="sr-only">20% Complete (warning)</span>
                                    </div>
                                    <div class="progress-bar progress-bar-danger" style="width: 10%">
                                        <span class="sr-only">10% Complete (danger)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Javascript components -->
            <div class="col-md-12">
                <div class="portlet box blue-madison">
                    <div class="portlet-title">
                        <div class="caption">
                            Javascript Components
                        </div>
                        <div class="tools">
                            <a href="" class="collapse"></a>
                            <a href="" class="remove"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">

                            <!-- Modals using UI-Boostrap -->
                            <div class="col-md-12">
                                <h2>Modals</h2>
                                <button data-ng-click="vm.showModal()" class="infoButton">Confirm modal</button>
                                <button data-ng-click="vm.showModal('error')" class="dangerButton">Delete modal</button>
                            </div>

                            <!-- Plunkr embedded iframe -->
                            <div class="col-md-12">
                                <h2>Modals, Tooltips, Popover, Tabs, Dropdowns, Collapse, ScrollSpy</h2>
                                <a href="http://embed.plnkr.co/5sg0pmN5ZrEWsarB4Hjw/" target="_blank">
                                    Open in Plunkr
                                </a>
                                <!-- Codepen embedded -->
                                <!--<p data-height="450" data-theme-id="8370" data-slug-hash="rmzdt" data-default-tab="result" data-user="vanphattran" class='codepen'>
                                        See the Pen <a href='//codepen.io/vanphattran/pen/rmzdt/'>rmzdt</a> by Trần Văn Phát (<a href='//codepen.io/vanphattran'>@vanphattran</a>) on <a href='//codepen.io'>CodePen</a>.
                                    </p>
                                    <script async src="//codepen.io/assets/embed/ei.js"></script>-->
                                <!-- Plunker embedded -->
                                <iframe src="http://embed.plnkr.co/5sg0pmN5ZrEWsarB4Hjw/" style="height: 500px; width: 100%"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Toastr -->
<div id="toastr" class="portlet box blue-madison">
    <div class="portlet-title">
        <div class="caption">
            {{vm.title.toastr}} <span class="small">({{vm.subtitle.toastr}})</span>
        </div>
        <div class="tools">
            <a href="" class="collapse"></a>
            <a href="" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">

            <!-- Buttons -->
            <div class="col-md-12">
                <button class="defaultButton" style="background-color: #2f96b4; color:white" data-ng-click="vm.showToast()">Toast Default</button>
                <button class="successButton" data-ng-click="vm.showToast('success')">Toast Success</button>
                <button class="warningButton" data-ng-click="vm.showToast('warn')">Toast Warning</button>
                <button class="dangerButton" data-ng-click="vm.showToast('error')">Toast Error</button>
                <button class="defaultButton" data-ng-click="vm.showToast('clear')">Clear Toasts</button>
            </div>
        </div>
    </div>
</div>

<!-- Font Awesome -->
<div id="fa" class="portlet box blue-madison">
    <div class="portlet-title">
        <div class="caption">
            {{vm.title.fa}} <span class="small">({{vm.subtitle.fa}})</span>
        </div>
        <div class="tools">
            <a href="" class="collapse"></a>
            <a href="" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">

            <!-- Icon sizes & sample icons -->
            <div class="col-md-6">
                <h2>Icons Sizes</h2>
                To increase icon sizes relative to their container, use the <code>fa-lg</code> (33% increase), <code>fa-2x</code>, <code>fa-3x</code>, <code>fa-4x</code>, or <code>fa-5x</code> classes.
                <pre>&lt;i class="fa fa-home">&lt;/i&gt; fa-home</pre>
                <i class="fa fa-home"></i> fa-home
                <i class="fa fa-home fa-lg"></i> fa-lg
                <i class="fa fa-home fa-2x"></i> fa-2x
                <i class="fa fa-home fa-3x"></i> fa-3x
                <i class="fa fa-home fa-4x"></i> fa-4x
                <i class="fa fa-home fa-5x"></i> fa-5x
                <br />
                <h2>Sample Icons</h2>
                <div class="col-md-3">
                    <i class="fa fa-asterisk"> fa-asterisk</i><br />
                    <i class="fa fa-bar-chart"> fa-bar-chart</i><br />
                    <i class="fa fa-calendar"> fa-calendar</i><br />
                    <i class="fa fa-dashboard"> fa-dashboard</i><br />
                    <i class="fa fa-envelope"> fa-envelope</i><br />
                    <i class="fa fa-file"> fa-file</i>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-gear"> fa-gear</i><br />
                    <i class="fa fa-home"> fa-home</i><br />
                    <i class="fa fa-inbox"> fa-inbox</i><br />
                    <i class="fa fa-jsfiddle"> fa-jsfiddle</i><br />
                    <i class="fa fa-keyboard-o"> fa-keyboard-o</i><br />
                    <i class="fa fa-lock"> fa-lock</i>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-music"> fa-music</i><br />
                    <i class="fa fa-newspaper-o"> fa-newspaper-o</i><br />
                    <i class="fa fa-outdent"> fa-outdent</i><br />
                    <i class="fa fa-paint-brush"> fa-paint-brush</i><br />
                    <i class="fa fa-qrcode"> fa-qrcode</i><br />
                    <i class="fa fa-refresh"> fa-refresh</i>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-save"> fa-save</i><br />
                    <i class="fa fa-tag"> fa-tag</i><br />
                    <i class="fa fa-user"> fa-user</i><br />
                    <i class="fa fa-volume-up"> fa-volume-up</i><br />
                    <i class="fa fa-warning"> fa-warning</i><br />
                    <i class="fa fa-youtube"> fa-youtube</i>
                </div>
            </div>

            <!-- Rotated & flipped & Bootstrap Example -->
            <div class="col-md-6">
                <h2>Rotated & Flipped</h2>
                To arbitrarily rotate and flip icons, use the <code>fa-rotate-*</code> and <code>fa-flip-*</code> classes.
                <br />
                <div class="col-md-4">
                    <i class="fa fa-shield"></i> normal<br>
                    <i class="fa fa-shield fa-rotate-90"></i> fa-rotate-90<br>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-shield fa-rotate-180"></i> fa-rotate-180<br>
                    <i class="fa fa-shield fa-rotate-270"></i> fa-rotate-270<br>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-shield fa-flip-horizontal"></i> fa-flip-horizontal<br>
                    <i class="fa fa-shield fa-flip-vertical"></i> icon-flip-vertical
                </div>
                <h2>Bootstrap Examples</h2>
                Font Awesome works great with the full range of Bootstrap components.
                <br />
                <a class="dangerButton">
                    <i class="fa fa-trash-o fa-lg"></i> Delete
                </a>
                <a class="defaultButton btn-sm">
                    <i class="fa fa-cog"></i> Settings
                </a>

                <div class="btn-group">
                    <a class="defaultButton"><i class="fa fa-align-left"></i></a>
                    <a class="defaultButton"><i class="fa fa-align-center"></i></a>
                    <a class="defaultButton"><i class="fa fa-align-right"></i></a>
                    <a class="defaultButton"><i class="fa fa-align-justify"></i></a>
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                    <input class="form-control" type="text" placeholder="Email address">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                    <input class="form-control" type="password" placeholder="Password">
                </div>

                <div class="btn-group open">
                    <a class="primaryButton"><i class="fa fa-user fa-fw"></i> User</a>
                    <a class="primaryButton dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-caret-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
                        <li><a><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
                        <li><a><i class="fa fa-ban fa-fw"></i> Ban</a></li>
                        <!--<li class="divider"></li>-->
                        <li><a>Make admin</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">

            <!-- Fixed width icons -->
            <div class="col-md-6">
                <h2>Fixed Width Icons</h2>
                Use <code>fa-fw</code> to set icons at a fixed width. Great to use when different icon widths throw off alignment. Especially useful in things like nav lists & list groups.
                <div class="list-group">
                    <a class="list-group-item"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a>
                    <a class="list-group-item"><i class="fa fa-book fa-fw"></i>&nbsp; Library</a>
                    <a class="list-group-item"><i class="fa fa-pencil fa-fw"></i>&nbsp; Applications</a>
                    <a class="list-group-item"><i class="fa fa-cog fa-fw"></i>&nbsp; Settings</a>
                </div>
            </div>

            <!-- Stacked icons -->
            <div class="col-md-6">
                <h2>Stacked Icons</h2>
                To stack multiple icons, use the <code>fa-stack</code> class on the parent, the <code>fa-stack-1x</code> for the regularly sized icon, and <code>fa-stack-2x</code> for the larger icon. <code>fa-inverse</code> can be used as an alternative icon color. You can even throw larger icon classes on the parent to get further control of sizing.
                <br />
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x"></i>
                </span>
                fa-twitter on fa-square-o<br>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
                </span>
                fa-flag on fa-circle<br>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
                </span>
                fa-terminal on fa-square<br>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-camera fa-stack-1x"></i>
                    <i class="fa fa-ban fa-stack-2x text-danger"></i>
                </span>
                fa-ban on fa-camera
            </div>
        </div>
    </div>
</div>
