<div class="login">
    <!-- BEGIN LOGO -->
    
    <!-- END LOGO -->

    <div class="content">
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <form class="forget-form">
            <h3>Forgot Password ?</h3>
            <p>
                Enter your e-mail address below to reset your password.
            </p>
            <div class="form-group">
                <div class="input-icon">
                    <i class="fa fa-envelope"></i>
                    <input data-ng-model="vm.resetPasswordData.emailAddress" class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Security Question</label>
                <dna-simple-captcha valid="vm.captchaValid"></dna-simple-captcha>
            </div>
            <div class="form-actions">
                <button id="register-back-btn" type="button" class="btn">
                    <i class="m-icon-swapleft"></i> <a id="home" href="#/" class="uppercase" style="text-decoration: none; color: black;;">Back</a>
                </button>
                <button id="Reset-submit-btn" data-ng-click="vm.forgotPassword()" class="btn green-haze pull-right">
                    Reset <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>
            <div class="create-account">
                <p>
                    <a id="loginLink" href="#/login" class="uppercase">Log in</a>
                </p>
            </div>

        </form>
        <!-- END FORGOT PASSWORD FORM -->
    </div>
</div>
