<div class="login">
    <!-- BEGIN LOGO -->
    
    <!-- END LOGO -->

    <div class="content">
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <form class="forget-form">
            <h3>Reset Password</h3>
            <p>
                Reset your password.
            </p>
            <form name="ResetPasswordForm">

                <!--Current Password-->
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input id="EmailTextBox"
                           name="EmailTextBox"
                           type="email"
                           placeholder="Your registered email"
                           class="form-control"
                           data-z-validate
                           data-ng-model="vm.email" />
                </div>

                <!--New Password-->
                <div class="form-group">
                    <label class="control-label">New Password</label>
                    <input id="NewPasswordTextBox"
                           name="NewPasswordTextBox"
                           type="password"
                           placeholder="New Password"
                           class="form-control"
                           data-z-validate
                           data-ng-model="vm.newPassword"
                           ng-required />
                    <ul id="strength" check-strength="vm.newPassword"></ul>
                </div>

                <!--Confirm New Password-->
                <div class="form-group">
                    <label class="control-label">Confirm New Password</label>
                    <input id="ConfirmPasswordTextBox"
                           name="ConfirmPasswordTextBox"
                           type="password"
                           placeholder="Confirm New Password"
                           class="form-control"
                           data-z-validate
                           data-ng-model="vm.confirmPassword"
                           ng-required pw-check="NewPasswordTextBox" />
                </div>

                <!--Passwords don't match error message-->
                <div class="msg-block" ng-show="ResetPasswordForm.$error">
                    <span class="message-error" ng-show="ResetPasswordForm.ConfirmPasswordTextBox.$error.pwmatch">
                        Passwords don't match.
                    </span>
                </div>

                <!--Change Password / Cancel buttons-->
                <div class="margin-top-10">
                    <a data-ng-click="vm.resetPassword()"
                       data-ng-disabled="!vm.canResetPassword"
                       href="#" class="btn green-haze">
                        Change Password
                    </a>
                    <a data-ng-click="vm.cancelResetPassword()"
                       href="#" class="btn default">
                        Cancel
                    </a>
                </div>

            </form>
            <div class="create-account">
                <p>
                    <a id="loginLink" href="#/login" class="uppercase">Log in</a>
                </p>
            </div>

        </form>
        <!-- END FORGOT PASSWORD FORM -->
    </div>
</div>
