
<div class="row">
    <div class="widget wlightblue">
        <div data-dna-widget-header title="{{vm.title}}"></div>
        <div class="col-md-12">
            <ul class="today-datas">
                <a href="" style="color:white" data-ng-click="vm.widgetClick('error')">
                    <li class="bgrey">
                        <div class="pull-left"><i class="fa fa-warning"></i></div>
                        <div class="datas-text pull-right">
                            <span class="bold">Error</span> Logs
                        </div>
                    </li>
                </a>
                <a href="" style="color:white" data-ng-click="vm.widgetClick('audit')">
                    <li class="bgrey">
                        <div class="pull-left"><i class="fa fa-pencil-square-o"></i></div>
                        <div class="datas-text pull-right">
                            <span class="bold">Audit</span> Logs
                        </div>
                    </li>
                </a>
                <a href="" style="color:white" data-ng-click="vm.widgetClick('account')">
                    <li class="bblue">
                        <div class="pull-left"><i class="fa fa-users"></i></div>
                        <div class="datas-text pull-right">
                            <span class="bold">Account</span> Management
                        </div>
                    </li>
                </a>
                <!--<a href="" style="color:white" data-ng-click="vm.widgetClick('role')">
                        <li class="bblue">
                            <div class="pull-left"><i class="fa fa-users"></i></div>
                            <div class="datas-text pull-right">
                                <span class="bold">Roles</span> Management
                            </div>
                        </li>
                    </a>
                    <a href="" style="color:white" data-ng-click="vm.widgetClick('token')">
                        <li class="bgrey">
                            <div class="pull-left"><i class="fa fa-barcode"></i></div>
                            <div class="datas-text pull-right">
                                <span class="bold">Tokens</span> Management
                            </div>
                        </li>
                    </a>-->
            </ul>

            <div id="error" data-ng-show="vm.errorShow">
                <h2>ErrorLogs (read-only) - Wijmo 5 FlexGrid</h2>
                <wj-collection-view-pager cv="vm.fgError"></wj-collection-view-pager>
                <wj-menu value="vm.errorGroup" header="Group by">
                    <wj-menu-item value="''">(no grouping)</wj-menu-item>
                    <wj-menu-item value="'type'">Error Type</wj-menu-item>
                    <wj-menu-item value="'user'">User</wj-menu-item>
                    <wj-menu-item value="'statusCode'">Status Code</wj-menu-item>
                    <wj-menu-item value="'timeUtc'">Time</wj-menu-item>
                    <wj-menu-item value="'type,user'">Type then User</wj-menu-item>
                    <wj-menu-item value="'statusCode,type'">Status Code then Type</wj-menu-item>
                    <wj-menu-item value="'timeUtc,statusCode,type'">Time then Status Code then Type</wj-menu-item>
                </wj-menu>
                <wj-flex-grid items-source="vm.fgError" is-read-only="true" selection-mode="Row">
                    <!--<wj-flex-grid-column header="Application" binding="application"></wj-flex-grid-column>-->
                    <wj-flex-grid-column header="Sequence" binding="sequence" width="80"></wj-flex-grid-column>
                    <wj-flex-grid-column header="Code" binding="statusCode" width="60"></wj-flex-grid-column>
                    <wj-flex-grid-column header="Error Type" binding="type" width="350"></wj-flex-grid-column>
                    <wj-flex-grid-column header="Error Message" binding="message" width="350"></wj-flex-grid-column>
                    <wj-flex-grid-column header="User" binding="user"></wj-flex-grid-column>
                    <wj-flex-grid-column header="Time" binding="timeUtc"></wj-flex-grid-column>
                    <wj-flex-grid-column header="XML Message" binding="allXml" width="350"></wj-flex-grid-column>
                    <wj-flex-grid-column header="Host" binding="host"></wj-flex-grid-column>
                </wj-flex-grid>
            </div>
            <div id="account" data-ng-show="vm.accountShow">
                <h2>Account Management - Angular-xeditable</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-condensed">
                        <tr style="font-weight: bold">
                            <td>Username</td>
                            <td>Email</td>
                            <td>Email Confirmed</td>
                            <td>Phone Number</td>
                            <td>Edit</td>
                        </tr>
                        <tr data-ng-repeat="account in vm.accounts">
                            <td>
                                <span editable-text="account.userName" e-name="userName" e-form="rowform" e-required>
                                    {{ account.userName || 'empty' }}
                                </span>
                            </td>
                            <td>
                                <span editable-text="account.email" e-name="email" e-form="rowform" e-required>
                                    {{ account.email || 'empty' }}
                                </span>
                            </td>
                            <td>
                                <span editable-text="account.emailConfirmed" e-name="emailConfirmed" e-form="rowform" e-required>
                                    {{ account.emailConfirmed || 'empty' }}
                                </span>
                            </td>
                            <td>
                                <span editable-text="account.phoneNumber" e-name="phoneNumber" e-form="rowform" e-required>
                                    {{ account.phoneNumber || 'empty' }}
                                </span>
                            </td>
                            <td style="white-space: nowrap">
                                <form editable-form name="rowform" onbeforesave="vm.saveAccount()" data-ng-show="rowform.$visible"
                                      class="form-buttons form-inline" shown="inserted == account">
                                    <button type="submit" data-ng-disabled="rowform.$waiting" class="btn btn-primary">
                                        Save
                                    </button>
                                    <button type="button" data-ng-disabled="rowform.$waiting" data-ng-click="rowform.$cancel()" class="btn btn-default">
                                        Cancel
                                    </button>
                                </form>
                                <div class="buttons" data-ng-show="!rowform.$visible">
                                    <button class="btn btn-primary" data-ng-click="rowform.$show()">Edit</button>
                                    <button class="btn btn-danger" data-ng-click="vm.removeAccount($index)">Delete</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--<button class="defaultButton" data-ng-click="vm.addAccount()">Add row</button>-->

                <h2>Account Management - Wijmo 5 FlexGrid</h2>
                <wj-collection-view-pager cv="vm.fgAccount"></wj-collection-view-pager>
                <wj-menu value="vm.accountGroup" header="Group by">
                    <wj-menu-item value="''">(no grouping)</wj-menu-item>
                    <wj-menu-item value="'userName'">Username</wj-menu-item>
                    <wj-menu-item value="'email'">Email</wj-menu-item>
                    <wj-menu-item value="'phoneNumber'">Phone Number</wj-menu-item>
                    <wj-menu-item value="'userName,email'">Username then Email</wj-menu-item>
                    <wj-menu-item value="'userName,phoneNumber'">Username then PhoneNumber</wj-menu-item>
                </wj-menu>
                <wj-flex-grid items-source="vm.fgAccount">
                    <wj-flex-grid-column header="Username" binding="userName"></wj-flex-grid-column>
                    <wj-flex-grid-column header="Email" binding="email"></wj-flex-grid-column>
                    <wj-flex-grid-column header="Email Confirm" binding="emailConfirmed"></wj-flex-grid-column>
                    <wj-flex-grid-column header="Phone Number" binding="phoneNumber"></wj-flex-grid-column>
                    <wj-flex-grid-column header="Phone Confirm" binding="phoneNumberConfirmed"></wj-flex-grid-column>
                    <wj-flex-grid-column header="Access Failed" binding="accessFailedCount"></wj-flex-grid-column>
                </wj-flex-grid>
            </div>
            <div id="audit" data-ng-show="vm.auditShow">
                <h2>AuditLogs (read-only) - Wijmo 5 FlexGrid</h2>
                <wj-collection-view-pager cv="vm.fgAudit"></wj-collection-view-pager>
                <wj-menu value="vm.auditGroup" header="Group by">
                    <wj-menu-item value="''">(no grouping)</wj-menu-item>
                    <wj-menu-item value="'who'">Actor</wj-menu-item>
                    <wj-menu-item value="'what'">Action</wj-menu-item>
                    <wj-menu-item value="'when'">Time</wj-menu-item>
                    <wj-menu-item value="'tableName'">SQL Table</wj-menu-item>
                    <wj-menu-item value="'what,when'">Action then Time</wj-menu-item>
                    <wj-menu-item value="'who,what,when'">Actor then Action then Time</wj-menu-item>
                    <wj-menu-item value="'tableName,what'">SQL Table then Action</wj-menu-item>
                </wj-menu>
                <wj-flex-grid items-source="vm.fgAudit" is-read-only="true" selection-mode="Row">
                    <wj-flex-grid-column header="ID" binding="id" width="40"></wj-flex-grid-column>
                    <wj-flex-grid-column header="Actor" binding="who" width="270"></wj-flex-grid-column>
                    <wj-flex-grid-column header="Action" binding="what" width="70"></wj-flex-grid-column>
                    <wj-flex-grid-column header="Time" binding="when" width="80"></wj-flex-grid-column>
                    <wj-flex-grid-column header="SQL Table" binding="tableName"> </wj-flex-grid-column>
                    <wj-flex-grid-column header="Original Value" binding="oldData" width="350"> </wj-flex-grid-column>
                    <wj-flex-grid-column header="Updated Value" binding="newData" width="350"> </wj-flex-grid-column>
                </wj-flex-grid>
            </div>
        </div>
        <div class="widget-foot">
            <div class="clearfix"></div>
        </div>
    </div>
</div>
