<div class="row">
    <div class="col-md-12">
        <h2>Server-side remote access</h2>
        <!-- Filter by relative entity on server-->

        <div class="row">
            <form class="form-horizontal" role="form">
                <!-- 2.2.2. One form group foreach property -->
                <div class="form-group">

                    <!-- 2.2.2.1. Form label -->
                    <label class="col-sm-1 control-label">Parent:</label>
                    <div class="col-sm-7">

                        <!-- 2.2.2.1. Form input -->
                        <select data-ng-options="t.name for t in vm.parent0" style="width: 100%"
                                data-ng-change="vm.onParentServerSelectionChange()"
                                data-ng-model="vm.selectedParentServer" class="form-control" data-z-validate>
                            <option value="">Select all parents</option>
                        </select>
                    </div>
                    <!--<a class="infoButton" data-ng-click="vm.addParent()">
                            <i class="fa fa-plus"></i> Add Parent
                    </a>-->
                </div>
            </form>
        </div>

        <div class="row">
            <form class="form-horizontal" role="form">
                <!-- 2.2.2. One form group foreach property -->
                <div class="form-group">

                    <!-- 2.2.2.1. Form label -->
                    <label class="col-sm-1 control-label">Type:</label>
                    <div class="col-sm-7">

                        <!-- 2.2.2.1. Form input -->
                        <select data-ng-options="t.name for t in vm.types" style="width: 100%"
                                data-ng-change="vm.onTypeServerSelectionChange()"
                                data-ng-model="vm.selectedTypeServer" class="form-control" data-z-validate>
                            <option value="">Select all types</option>
                        </select>
                    </div>
                    <!--<a class="infoButton" data-ng-click="vm.addType()">
                            <i class="fa fa-plus"></i> Add Type
                    </a>-->
                </div>
            </form>
        </div>
        <!-- 1. Search bar -->
        <div class="form-search row">
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button id="typeOfTypeSearchButton" class="btn btn-default" data-ng-click="vm.searchServer()"><i class="fa fa-search-plus"></i></button>
                    </div>
                    <input class="form-control input-sm"
                           data-ng-model="vm.typeOfTypeServerSearch"
                           placeholder="filter name or abbreviation">
                </div>
            </div>
            <div class="btn-group pull-right">
                <a class="infoButton"
                   data-ng-click="vm.refreshServer()">
                    <i class="fa fa-refresh"></i><span> Refresh</span>
                </a>
                <a id="typeOfTypeServerAddButton" class="infoButton" href="#/typeOfType/new">
                    <i class="fa fa-plus"></i> Add TypeOfType
                </a>
            </div>
        </div>

        <!-- 2. Content/main area -->
        <!-- 2.1. Panel header -->
        <div class="portlet box dna-blue row">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>{{vm.title}}
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="data-table-server table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th data-ng-repeat="thead in vm.theads">
                                {{thead}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="t in vm.typeOfTypesServerFilter"
                            data-ng-click="vm.goToTypeOfType(t)"
                            title="View details" style="cursor: pointer;">
                            <!-- // ADD TABLE DATA HERE with approriate data type and control -->
                            <td>{{t.abbreviation}}</td>
                            <td>{{t.name}}</td>
                            <td>{{t.createdDate}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="widget-foot">
            <div class="clearfix"></div>
            <pagination boundary-links="true"
                        ng-change="vm.pageChangedServer(page)"
                        total-items="vm.filteredCount"
                        items-per-page="vm.paging.pageSize"
                        ng-model="vm.paging.currentPageServer"
                        max-size="vm.paging.maxPagesToShow"
                        class="pagination-sm"
                        previous-text="Prev"
                        next-text="Next"
                        first-text="First"
                        last-text="Last"></pagination>
            <div class="clearfix"></div>
        </div>
    </div>
</div>