<div class="page-footer-inner col-lg-12 col-md-12" style="text-align: center;">
    <div class="row">
        <div>
            <p>
                DNA LEAN STARTUP MVP AngularJS Web/Hybrid-mobile Template
            </p>
            <p style="text-align: center;">
                Working AngularJS web/hybrid-mobile app code with responsive-design, security, user profiles, payment gateway, JWT (claims-based),  OAuth2.0, social media (facebook, ...) logins, REST API, JSON, OData, code-generation/scaffolding, Ionic Framework, ...
            </p>
            <p>
                <a href="http://www.keenthemes.com/preview/" target="_blank" style="color:#98a6ba; text-decoration: none;">
                    Metronic Theme by keenthemes.
                </a>
            </p>
        </div>
    </div>
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>