<div class="page-sidebar navbar-collapse collapse" data-ng-controller="sidebar as vm">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul id="sidemenu-bar" class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        <!--ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}"-->
        <!--<li class="start">
            <a href="#/dashboard.html">
                <i class="icon-home"></i>
                <span class="title">Dashboard</span>
            </a>
        </li>-->

        <!--<li class="sidebar-toggler-wrapper">
            <div class="sidebar-toggler"></div>
        </li>-->

        <!--<li class="heading">
            <h3 class="uppercase"></h3>
        </li>-->

        <li data-ng-repeat="r in vm.navRoutes" data-ng-class="{heading: r.config.settings.isHeader, 'ms-hover': !r.config.settings.isHeader}">
            <h3 class="uppercase" ng-if="r.config.settings.isHeader" data-ng-bind-html="r.config.settings.content"></h3>
            <a data-ui-sref="{{r.state}}" data-ng-bind-html="r.config.settings.content" ng-if="!r.config.settings.isHeader && !r.config.settings.hasChildLevel"></a>
            <a href="javascript:;" data-ng-bind-html="r.config.settings.content" ng-if="!r.config.settings.isHeader && r.config.settings.hasChildLevel"></a>
            <ul ng-if="!r.config.settings.isHeader && r.config.settings.hasChildLevel" class="sub-menu" style="display: none;">
                <li data-ng-repeat="c in vm.navRoutesChildLevels" ng-if="c.config.settings.parentState == r.state">
                    <a data-ui-sref="{{c.state}}" data-ng-bind-html="c.config.settings.content" ng-if="!c.config.settings.hasChildLevel"></a>
                    <a href="javascript:;" data-ng-bind-html="c.config.settings.content" ng-if="c.config.settings.hasChildLevel"></a>
                    <ul ng-if="c.config.settings.hasChildLevel" class="sub-menu" style="display: none;">
                        <li data-ng-repeat="k in vm.navRoutesChildLevels" ng-if="k.config.settings.parentState == c.state">
                            <a data-ui-sref="{{k.state}}" data-ng-bind-html="k.config.settings.content"></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>

<script>
    //$('#sidemenu-bar').on('click', 'li.child-menu', function () {
    //    var menu = $('.page-sidebar-menu');
    //    menu.find('li.active').removeClass('active');
    //    $(this).addClass('active');
    //});
</script>