<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dnaspawebhybridmobiledemo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dnaspawebhybridmobiledemo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DnaSpaWebHybridMobileDemo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DnaSpaWebHybridMobileDemo</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DptContext" Order="1" Enabled="False">
          <Destination Path="Data Source=dnx67pav9h.database.windows.net;Initial Catalog=DnaSpaWebHybridMobileDemo;Persist Security Info=True;User ID=uniNetworkDBUser;Password=M00nlight!;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Dna.Mvp.Authentication.AuthContext, Dna.Mvp" MigrationConfiguration="Dna.Mvp.Migrations.Configuration, Dna.Mvp" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DptContext-Web.config Connection String">
      <ParameterValue>Data Source=dnx67pav9h.database.windows.net;Initial Catalog=DnaSpaWebHybridMobileDemo;Persist Security Info=True;User ID=uniNetworkDBUser;Password=M00nlight!;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>